<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body style="background: lavenderblush">
    <div class="container pt-3">
        {% if error_message %}
            <div class="alert alert-danger">{{ error_message }}</div>
        {% endif %}
        {% if success_message %}
            <div class="alert alert-success">{{ success_message }}</div>
        {% endif %}
        <form action="{% url 'myapp:forgot_password' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit1" value="Reset Password" class="btn btn-primary"/>
        </form>
    </div>

</body>
</html>