{% extends 'myapp/base.html' %}

{% block body_block %}
    <h2>Welcome to your main account page</h2>
    {% if is_student %}
        {% if student_image %}
            <img src="{{ student_image.url }}" height="100" width="100" alt="{{ student_image.name }}"/>
            <br/>
        {% endif %}
        <form method="post" action="{% url 'myapp:myaccount' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit1" value="Upload Image" class="btn btn-primary"/>
        </form>
        <h3>Student Name: </h3>
        <p>{{ name }}</p>
        <br>
        <h3>You are interested in following topics: </h3>
        {% if interested_in %}
            <ol>
                {% for top  in interested_in %}
                    <li> <a href="{% url 'myapp:detail' top.id %}">{{ top.name}}</a> </li>
                {% endfor %}
            </ol>
        {% else %}
            <strong>There are no available topics!</strong>
        {% endif %}

        <h3>You are registered in following courses:</h3>
        {% if courses %}
            <table>
                <tr>
                    <th>No.</th>
                    <th>Course Name</th>
                    <th>Category</th>
                    <th>Length</th>
                </tr>
                {% for course  in courses %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ course.title }}</td>
                        <td>{{ course.topic.name }}</td>
                        <td>{{ course.topic.length }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <strong>You are not registered in any course!</strong>
        {% endif %}
    {% else %}
        <h4>You are not a registered student!</h4>
    {% endif %}
{% endblock %}